<section class="cd-wrapper">
<div class="mini-slides-wrap profile_banner">
	<%= image_tag('profile_banner.jpg', :alt => 'Login Here') %>
</div>

</div>
</section>
<section class="profile">

<div class="container">
<div class="user_info">
<div class="row">

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2"> 
<figure>
<%= image_tag('pic.jpg', :class => "img-thumbnail", :alt => 'Login Here') %>
</figure>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-5"> 
<h2>John Doe</h2>
<p>Vancouver, DC    |     4990 Mcgover S</p>

<div class="user_social">
<ul>

<li><a href=""><i class="fa fa-facebook"></i></a></li>
<li><a href=""><i class="fa fa-twitter"></i></a></li>
<li><a href=""><i class="fa fa-google-plus"></i></a></li>

</ul>

</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5  pull-right profile-main-details-right">

<ul>

<li>
<h3>112</h3>
<a href="" class="user_projects">Created project</a>

</li>

<li>
<h3>1020</h3>
<span>Followers</span>

</li>

<li>
<h3>132</h3>
<span>Lists</span>

</li>

</ul>

<div class="user_time"><i class="icon-clock"></i> Joined 2 Years, 4 month ago</div>

</div>

</div>
</div>
		  
		  </section>
		  
		  
		  		    <section class="projects">
		  
		  
		  
		  <div class="container"> 
		  <div class="title margin-bottom-60 appear-animation animated fadeInUp appear-animation-visible">
<h2>PROJECTS</h2>
<p>invest to inspire the others</p></div>
		  <div class="row">
		  
		  <div class="col-xs-12 col-sm-6 col-md-4">
		  <div class="project_box business_loan_project appear-animation animated fadeInUp appear-animation-visible">
		  <figure class="image-box">
		  <h3>Business loans</h3>
		   <div class="creator_logo">
		   	<div class="creator-logo-outer"><div class="creator-logo-inside"><%= image_tag("user_logo.png", :alt => "home") %></div></div></div>
		   <%= image_tag("project.png", :alt => "home") %>
		    </figure>
			<div class="lower-content">
	<div class="row project-place-info">
		<div class="col-xs-12 col-sm-6 col-md-6"><h4><a href="projectdetails">By Mark Bramhill</a></h4></div>
		<div class="col-xs-12 col-sm-6 col-md-6"><h6><i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA USA</h6></div>
	</div>
	<div class="row project-name-txt">
		<div class="col-xs-12 col-sm-12 col-md-12">
		<h4>Lorem Ipsum is simply dummy </h4>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
		</div>
		<div class="row project-basic-details">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<ul>
				<li>
					<figure><i class="icon-rich"></i></figure>
					<h5>72%</h5>
					<p>Funded</p>
				</li>
				<li>
					<figure><i class="icon-piggy-bank"></i></figure>
					<h5>$50,0000</h5>
					<p>Pledged</p>
				</li>
				<li>
					<figure><i class="icon-clock"></i></figure>
					<h5>150 Hours</h5>
					<p>Restant</p>
				</li>
			</ul>
			<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
      <span class="sr-only">70% Complete</span>
    </div></div>
			<ul>
				<li>
					<figure><i class="icon-supporters"></i></figure>
					<h5>10</h5>
					<p>Supporters</p>
				</li>
				<li>
					<figure><i class="icon-checked"></i></figure>
					<h5>50$</h5>
					<p>Recolets</p>
				</li>
				<li>
					<figure><i class="icon-heart"></i></figure>
					<h5>700</h5>
					<p>Likes</p>
				</li>
			</ul>
			</div>
  </div>
  </div>
  </div>
  </div>
  
  <div class="col-xs-12 col-sm-6 col-md-4">
		  <div class="project_box soild_loan_project appear-animation animated fadeInUp appear-animation-visible">
		  <figure class="image-box">
		  <h3>Business loans</h3>
		   <div class="creator_logo">
		   	<div class="creator-logo-outer"><div class="creator-logo-inside"><%= image_tag("user_logo.png", :alt => "home") %></div></div></div>
		   <%= image_tag("project.png", :alt => "home") %>
		    </figure>
			<div class="lower-content">
	<div class="row project-place-info">
		<div class="col-xs-12 col-sm-6 col-md-6"><h4>By Mark Bramhill</h4></div>
		<div class="col-xs-12 col-sm-6 col-md-6"><h6><i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA USA</h6></div>
	</div>
	<div class="row project-name-txt">
		<div class="col-xs-12 col-sm-12 col-md-12">
		<h4>Lorem Ipsum is simply dummy </h4>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
		</div>
		<div class="row project-basic-details">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<ul>
				<li>
					<figure><i class="icon-rich"></i></figure>
					<h5>72%</h5>
					<p>Funded</p>
				</li>
				<li>
					<figure><i class="icon-piggy-bank"></i></figure>
					<h5>$50,0000</h5>
					<p>Pledged</p>
				</li>
				<li>
					<figure><i class="icon-clock"></i></figure>
					<h5>150 Hours</h5>
					<p>Restant</p>
				</li>
			</ul>
			<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
      <span class="sr-only">70% Complete</span>
    </div></div>
			<ul>
				<li>
					<figure><i class="icon-supporters"></i></figure>
					<h5>10</h5>
					<p>Supporters</p>
				</li>
				<li>
					<figure><i class="icon-checked"></i></figure>
					<h5>50$</h5>
					<p>Recolets</p>
				</li>
				<li>
					<figure><i class="icon-heart"></i></figure>
					<h5>700</h5>
					<p>Likes</p>
				</li>
			</ul>
			</div>
  </div>
  </div>
  </div>
  </div>
  
  <aside class="col-xs-12 col-sm-6 col-md-4">
  <div class="profile_sidebar">
  <h3>My INFO</h3>
  
  <ul>
  <li> <span>NAME:</span> <label> John Due</label></li>
  <li> <span>PHONE:</span> <label> +0123456789</label></li>
  <li> <span>EMAIL:</span> <label> 111@yahoo.com</label></li>
  <li> <span>ADDRESS:</span> <label> Los Angeles, CA USA</label></li>
  
  </ul>
  
  <h3>Badges</h3>
  <figure>
  <%= image_tag('bage.jpg', :alt => 'Login Here') %>
  </figure>
  <p>Ambassador</p>
  </div>
  </aside>
  
  
  
  
 
		  </div>
		  
		  
		  
		  </div>
		  
		  </section>
		  

