<!-- HEADER -->
  <header class="header">
    <section class="container">
      <article class="logo-container"><a href="http://themes.themepunch.com/?theme=revolution_jq"><div class="logo"></div></a></article>
      <div class="button-holder"><a href="http://codecanyon.net/item/slider-revolution-responsive-jquery-plugin/2580848" target="_blank" class="button"><strong>BUY NOW</strong></a></div>
      <div style="clear:both"></div>
    </section>
  </header> <!-- END OF HEADER -->



  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>  <!-- SLIDE  -->
  
  <!-- SLIDE  -->
  <li data-transition="slideleft" data-slotamount="7" data-masterspeed="2000" data-thumb="/assets/homeslider_thumb2.jpg" data-delay="10000"  data-saveperformance="on"  data-title="Ken Burns Slide">
    <!-- MAIN IMAGE -->
<!--     <img src="/assets/dummy.png"  alt="laptopmockup_sliderdy" data-lazyload="images/laptopmockup_sliderdy.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom"> -->

    <%= image_tag ('dummy.png'), :alt => 'laptopmockup_sliderdy', :data => { :lazyload => '/assets/laptopmockup_sliderdy.jpg', :bgposition => 'right top', :kenburns => 'on', :duration => '12000', :ease => 'Power0.easeInOut', :bgfit => '115', :bgfitend => '100', :bgpositionend  => 'center bottom'} %>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption customin fadeout rs-parallaxlevel-10"
      data-x="848"
      data-y="196" 
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="2700"
      data-easing="Power3.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 2;"><!-- <img src="images/dummy.png" alt="" data-lazyload="images/redbg_big.png"> -->
          <%= image_tag ('dummy.png'), :alt => 'laptopmockup_sliderdy', :data => { :lazyload => '/assets/redbg_big.png' } %>
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption light_heavy_70 customin fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="862"
      data-y="204" 
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="2850"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Effect
    </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption black_heavy_70 skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="717"
      data-y="143" 
      data-speed="500"
      data-start="2400"
      data-easing="Power3.easeInOut"
      data-splitin="chars"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Ken Burns
    </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption black_bold_40 skewfromrightshort fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="937"
      data-y="282" 
      data-speed="500"
      data-start="3200"
      data-easing="Power3.easeInOut"
      data-splitin="chars"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Improved!
    </div>

    <!-- LAYER NR. 5 -->
    <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="970"
      data-y="367" 
      data-speed="300"
      data-start="4000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">FASTER
    </div>

    <!-- LAYER NR. 6 -->
    <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="939"
      data-y="367" 
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="4000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
    </div>

    <!-- LAYER NR. 7 -->
    <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
      data-x="948"
      data-y="374" 
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="4200"
      data-easing="Power3.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 8;"><!-- <img src="images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="images/check.png"> -->
      <%= image_tag ('dummy.png'), :alt => '', :data => { :lazyload => '/assets/check.png', :ww => '17', :hh => '17' } %>
    </div>

    <!-- LAYER NR. 8 -->
    <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="970"
      data-y="407" 
      data-speed="300"
      data-start="4500"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">SMOOTHER
    </div>

    <!-- LAYER NR. 9 -->
    <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="939"
      data-y="407" 
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="4500"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
    </div>

    <!-- LAYER NR. 10 -->
    <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
      data-x="948"
      data-y="414" 
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="4700"
      data-easing="Power3.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 11;"><!-- <img src="images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="images/check.png"> -->
      <%= image_tag ('dummy.png'), :alt => '', :data => { :lazyload => '/assets/check.png', :ww => '17', :hh => '17' } %>

    </div>

    <!-- LAYER NR. 11 -->
    <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="970"
      data-y="447" 
      data-speed="300"
      data-start="5000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">EASY TO USE
    </div>

    <!-- LAYER NR. 12 -->
    <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="939"
      data-y="447" 
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="5000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 13; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
    </div>

    <!-- LAYER NR. 13 -->
    <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
      data-x="948"
      data-y="454" 
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="5200"
      data-easing="Power3.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 14;"><!-- <img src="images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="images/check.png"> -->
      <%= image_tag ('dummy.png'), :alt => '', :data => { :lazyload => '/assets/check.png', :ww => '17', :hh => '17' } %>
    </div>
  </li>
  <!-- SLIDE  -->
  
  
  <!-- SLIDE  -->
  <li data-transition="fade" data-slotamount="7" data-masterspeed="600" data-thumb="images/homeslider_thumb6.jpg"  data-saveperformance="on"  data-title="Full-Width Video">
    <!-- MAIN IMAGE -->
<!--     <img src="images/dummy.png" style='background-color:#000000' alt="" data-lazyload="images/images/transparent.png" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> -->
    <%= image_tag ('dummy.png'), :alt => '', :data => { :lazyload => '/assets/transparent.png', :bgposition => 'center top', :bgfit => 'cover', :bgrepeat =>  'no-repeat' } %>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption tp-fade stb fullscreenvideo rs-parallaxlevel-0"
      data-x="0"
      data-y="0"
      data-speed="500"
      data-start="1000"
      data-easing="Power1.easeOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="600"
      data-endeasing="Power1.easeOut"
      data-autoplay="true"
      data-autoplayonlyfirsttime="false"
      data-nextslideatend="true"
 data-forcerewind="on"      style="z-index: 2;"><iframe src='http://player.vimeo.com/video/94502406?title=0&byline=0&portrait=0;api=1' width='100%' height='100%' style='width:100%px;height:100%px;'></iframe>
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption blue_bold_bg_20 lft ltt tp-resizeme rs-parallaxlevel-0"
      data-x="center" data-hoffset="0"
      data-y="30" 
      data-speed="1000"
      data-start="1500"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-end="5200"
data-endspeed="1000"
      style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Now Showing a Full-Width Video
    </div>
  </li>
</ul>
<div class="tp-bannertimer"></div>  </div>
</div>  


<div class="" style="width:100%; background:#000; min-height:500px; float:left;"></div>

      <script type="text/javascript">

        jQuery(document).ready(function() {
        
          
                
          jQuery('.tp-banner').show().revolution(
          {
            dottedOverlay:"none",
            delay:16000,
            startwidth:1170,
            startheight:700,
            hideThumbs:200,
            
            thumbWidth:100,
            thumbHeight:50,
            thumbAmount:5,
            
            navigationType:"bullet",
            navigationArrows:"solo",
            navigationStyle:"preview4",
            
            touchenabled:"on",
            onHoverStop:"on",
            
            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,
                        
                        parallax:"mouse",
            parallaxBgFreeze:"on",
            parallaxLevels:[7,4,3,2,5,4,3,2,1,0],
                        
            keyboardNavigation:"off",
            
            navigationHAlign:"center",
            navigationVAlign:"bottom",
            navigationHOffset:0,
            navigationVOffset:20,

            soloArrowLeftHalign:"left",
            soloArrowLeftValign:"center",
            soloArrowLeftHOffset:20,
            soloArrowLeftVOffset:0,

            soloArrowRightHalign:"right",
            soloArrowRightValign:"center",
            soloArrowRightHOffset:20,
            soloArrowRightVOffset:0,
                
            shadow:0,
            fullWidth:"off",
            fullScreen:"on",

            spinner:"spinner4",
            
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,

            shuffle:"off",
            
            autoHeight:"off",           
            forceFullWidth:"off",           
                        
                        
                        
            hideThumbsOnMobile:"off",
            hideNavDelayOnMobile:1500,            
            hideBulletsOnMobile:"off",
            hideArrowsOnMobile:"off",
            hideThumbsUnderResolution:0,
            
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            startWithSlide:0,
            fullScreenOffsetContainer: ".header"  
          });
          
          
          
                  
        }); //ready
        
      </script>
      
<!-- END REVOLUTION SLIDER -->    
  </div>
</div>