<div class="mini-slides-wrap">
	<div class="mini-slides text-center">
	 <h3>Lorem Ipsum is simply dummy </h3>
	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
	</div>
	<%= image_tag('mini_slide_bg.jpg', :alt => 'Login Here') %>
</div>

<div class="container iner-control">
	<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
	<div class="payment-box-outer">
		<div class="payment-title">
			<h2>Choose Your Payment</h2>
		</div>
		
		<div class="payment-box-inside ds-custom-accordion">
			
			 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <!--<span><%= image_tag('pay-method-1.png', :alt => 'Paypal') %></span> -->  <%= image_tag('pay-method-1.png', :alt => 'Paypal') %> Paypal Payment</a>
      </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus sit amet risus quis dollar pulvinar. Duis venenatis sagittis orci, tincidunt sodales dui pulvinar at.sit amet risus quis dollar pulvinar. Duis venenatis sagittis orci, tincidunt sodales dui pulvinar at.</p></div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <!--<span><%= image_tag('pay-method-2.png', :alt => 'Paypal') %></span> --><%= image_tag('pay-method-2.png', :alt => 'Paypal') %> Credit Card Payment</a>
      </div>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus sit amet risus quis dollar pulvinar. Duis venenatis sagittis orci, tincidunt sodales dui pulvinar at.sit amet risus quis dollar pulvinar. Duis venenatis sagittis orci, tincidunt sodales dui pulvinar at.</p></div>
    </div>
  </div>
  </div>
  <div class="row choose-reward-btn-outer">
						<div class="col-xs-12 col-sm-6 col-md-6">
						<span><a title="Back" class="btn btn-blue custom_btn" href="">BACK</a></span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<span class="pull-right"><a title="Next Step" class="btn btn-blue custom_btn" href="">NEXT STEP</a></span>
						</div>
					</div>

  
</div> 
  
  
</div>
			
			
		</div>
		
	</div>
	</div>
	</div>
</div>
