<div class="mini-slides-wrap">
	<div class="mini-slides text-center">
	 <h3>Lorem Ipsum is simply dummy </h3>
	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
	</div>
	<%= image_tag('mini_slide_bg.jpg', :alt => 'Login Here') %>
</div>

<div class="container iner-control">
	<div class="guideline-top-bar">
<div class="row">	
	<div class="col-xs-12 col-sm-4 col-md-4">
		<figure>
		
		<%= image_tag('guideline-1.png', :alt => '') %>
		
		</figure>
		<h3>Guidelines</h3>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 guide-create-project-outer active">
		<figure>
		
		<%= image_tag('guideline-2.png', :alt => '') %>
		
		</figure>
		<h3>Create Project</h3>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4">
		<figure>
		
		<%= image_tag('guideline-3.png', :alt => '') %>
		
		</figure>
		<h3>My Project</h3>
	</div>
	</div>
	
	</div>
	
	
	<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
	<div class="payment-box-outer creating-new-project-outer">
		<div class="payment-title">
			<h2>CREATING A NEW PROJECT</h2>
		</div>
		
		<div class="payment-box-inside ds-custom-accordion">
			
			 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <%= image_tag('creating-pro-icon-1.png', :alt => 'Paypal') %><span>About Your Project</span></a>
      </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
	  	<div class="paypal-payment-form-outer">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Project Name" />
			</div>
			
			<div class="form-group">
				<div class="custom-search-input custom-dropdown-inner">
						<select name="search_lang-create" id="search_lang-create" >
					  <option value='' data-title="Project Language">Project Language</option>
					  <option value='' data-title="English">English</option>
					  <option value='' data-title="Spenish">Spenish</option>
					 </select>
					</div>
			
			</div>
			
			<div class="form-group create-pro-checkouter">
				<label>Your Target is:</label>
				
				<div class="form-group">
			<label class="checkbox-wrapper">
				<input type="checkbox" class="chk-box" id="chk-bx-23" />
				<i class="input-helper"></i>To Reach a Budget</label>
		
				</label>
		</div>
		
		
				
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Total Amount" />
			</div>
			
			<div class="form-group">
				<textarea placeholder="Description" class="form-control"></textarea>
			</div>
			
			<div class="form-group">
				<textarea placeholder="Rewards" class="form-control"></textarea>
			</div>
			
			<div class="form-group">
				<textarea placeholder="References" class="form-control"></textarea>
			</div>
			
		</div>
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <%= image_tag('creating-pro-icon-2.png', :alt => 'Paypal') %><span>About You</span></a>
      </div>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus sit amet risus quis dollar pulvinar. Duis venenatis sagittis orci, tincidunt sodales dui pulvinar at.sit amet risus quis dollar pulvinar. Duis venenatis sagittis orci, tincidunt sodales dui pulvinar at.</p></div>
    </div>
  </div>

  </div>
</div> 
  
  
</div>
			
			
		</div>
		
	</div>
	</div>
	</div>
	
	
	
	</div>


