<div class="mini-slides-wrap">
	<div class="mini-slides text-center">
	 <h3>Lorem Ipsum is simply dummy </h3>
	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
	</div>
	<%= image_tag('mini_slide_bg.jpg', :alt => 'Login Here') %>
</div>

<div class="container iner-control">
	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
	<div class="payment-box-outer">
		<div class="payment-title">
			<h2>pay with credit card</h2>
		</div>
		<div class="payment-box-inside">
		
			<div class="row payment-icon-outer">
				<div class="col-xs-12 col-sm-12 col-md-12">
				<h5>The following credit cards are accepted:</h5>
				<ul>
					<li><figure><%= image_tag('card-method-1.png', :alt => 'Payment') %></figure></li>
					<li><figure><%= image_tag('card-method-2.png', :alt => 'Payment') %></figure></li>
					<li><figure><%= image_tag('card-method-3.png', :alt => 'Payment') %></figure></li>
					<li><figure><%= image_tag('card-method-4.png', :alt => 'Payment') %></figure></li>
				</ul>
			</div></div>
			
			<div class="row paywith-card-form">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="form-group">
						<div class="input-group">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input class="form-control" type="text" placeholder="Name On Card Holder" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
							<i class="fa fa-credit-card" aria-hidden="true"></i>
							<input class="form-control" type="text" placeholder="Card Number" /> 
						</div>
					</div>
					
					
					
					<div class="form-group ">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="input-group">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input class="form-control" type="text" placeholder="Card CVV" /> 
						</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 expire-date-outer">
								<div class="input-group">
							<label>Expiration date</label>
							<div class="custom-search-input custom-dropdown-inner">
						<select name="dropdown-month-wise" id="dropdown-month-wise" >
					  <option value='' data-title="Jan">Jan</option>
					  <option value='' data-title="Feb">Feb</option>
					  <option value='' data-title="March">Mar</option>
					  <option value='' data-title="Apr">Apr</option>
					  <option value='' data-title="May">May</option>
					  <option value='' data-title="Jun">Jun</option>
					  <option value='' data-title="Jul">Jul</option>
					  <option value='' data-title="Aug">Aug</option>
					  <option value='' data-title="Sep">Sep</option>
					  <option value='' data-title="Oct">Oct</option>
					  <option value='' data-title="Nov">Nov</option>
					  <option value='' data-title="Dec">Dec</option>
					 </select>
					</div>
					
					<div class="custom-search-input custom-dropdown-inner">
						<select name="dropdown-year-wise" id="dropdown-year-wise" >
					  <option value='' data-title="2017">2017</option>
					  <option value='' data-title="2018">2018</option>
					  <option value='' data-title="2019">2019</option>
					  <option value='' data-title="2020">2020</option>
					 </select>
					</div>
						</div>
							</div>
						</div>
						
					</div>
					
					<div class="form-group">
			<label class="checkbox-wrapper">
				<input type="checkbox" class="chk-box" id="chk-bx-23" />
				<i class="input-helper"></i>Remember this card</label>
		</div>
					
					
					
				</div>
			</div>
		
		
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 left-col-payment-confirm">
					<span><a title="Back" class="btn btn-blue custom_btn" href="">BACK</a></span>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-6 right-col-payment-confirm">
					<span class="pull-right"><a title="Next Step" class="btn btn-blue custom_btn" href="">NEXT STEP</a></span>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
</div>
