
<% url = request.original_url
if url.include?('?') %>
  <% test = 1 %>

<% else %>
  <% test = 2 %>
<% end %>



<input type="hidden" value="<%= test %>" id="cond_url_present">
<input type="hidden" value="<%= url %>" id="url_present">


<div class="mini-slides-wrap">
    <div class="mini-slides text-center">
        <h3>Lorem Ipsum is simply dummy </h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
    </div>
    <%= image_tag('mini_slide_bg.jpg', :alt => 'Login Here') %>
</div>

<div class="search-page-top-bar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 left-search-top-bar">
                <div class="form-group">
                    <div class="custom-search-top-input">
                        <select name="search_project" id="search_project" >
                            
                            <option value='all' data-title="All Projects" 
                              
                              <% if params['filter'] == 'all' %> selected="selected" <% end %>>
                                
                                All Projects 
                            
                            </option>
                            
                            <option value='funded' data-title="Projects Funded" 

                              <% if params['filter'] == 'funded' %> selected="selected" <% end %>>
                                
                                Projects Funded
                            
                            </option>
                            
                            <option value='ended' data-title="Projects Ended"
                              
                              <% if params['filter'] == 'ended' %> selected="selected" <% end %>>
                                
                                Projects Ended
                            
                            </option>

                        </select>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 right-search-top-bar">
                <div class="form-group">
                    <label>Sort by</label>
                  

                    <div class="custom-search-top-input">
                        <select name="search_shortby" id="search_shortby" >
                            <option value='popular' data-title="Popular"
                              
                              <% if params['sortby'] == 'popular' %> selected="selected" <% end %>>
                                
                                Popular
                            
                            </option>
                            
                            <option value='amount' data-title="Amount raised"
                                    
                              <% if params['sortby'] == 'amount' %> selected="selected" <% end %>>
                                
                                Amount raised
                            
                            </option>
                            
                            <option value='date' data-title="Date"
                                    
                              <% if params['sortby'] == 'date' %> selected="selected" <% end %>>
                                
                                Date
                            
                            </option>
                            
                            <option value='ending' data-title="Ending soon"
                                
                              <% if params['sortby'] == 'ending' %> selected="selected" <% end %>>
                                
                                Ending soon
                            
                            </option>
                            
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container iner-control">

    <div class="row search-pag-top-txt">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="title">
                <p><%= page_entries_info @Get_Projects_By_Cat_id %></p>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-xs-12 col-sm-6 col-md-8 search-left-area">

            <section class="projects">

                <div class="row">


                    <% if @Get_Projects_By_Cat_id.present? %>

                      <!-- Start Foreach for @Get_Projects_By_Cat_id -->     
                      <% @Get_Projects_By_Cat_id.each do |project_data_by_catid| %>  

 <!-- Getting Project Image From database -->

 <% @projectImages = ProjectFile.where(project_id: project_data_by_catid['id'], project_file_type: 'image') %>
 <% image_path = @projectImages[0]['project_image_path'] %>  
 <% image_name = @projectImages[0]['project_file_name'] %>  

 <!-- Getting Project Image From database Ends -->
                    
                    
                    


<!--Code checking for project-image-->

    <% if File.exist?(Rails.root.join('app','assets','images','project', "#{project_data_by_catid['id']}" ,'project_images',image_name )) %>
        <% projectimage = image_name  %>
    <% end %>

<!--Code checking for project-image end-->


                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="project_box 

                                 <% if project_data_by_catid['project_type'] == 'Presale' %>

                                   donation_project

                                 <% end %>



                                 <% if project_data_by_catid['project_type'] == 'Donations' %>

                                   donation_project

                                 <% end %>



                                 <% if project_data_by_catid['project_type'] == 'Solidarity' %>

                                   soild_loan_project

                                 <% end %>



                                 <% if project_data_by_catid['project_type'] == 'Business' %>

                                   business_loan_project

                                 <% end %>



                                 <% if project_data_by_catid['project_type'] == 'Equity' %>

                                   equiety_project

                                 <% end %>

                                 appear-animation animated fadeInUp appear-animation-visible">



                                <figure class="image-box">
                                    <h3> <%= project_data_by_catid['project_type'] %> </h3>
                                    <div class="creator_logo">
                                        <div class="creator-logo-outer">
                                            <div class="creator-logo-inside">
                                                <%= image_tag("user_logo.png", :alt => "home") %>
                                            </div>
                                        </div>
                                    </div>

                                    <%= image_tag File.join(image_path, projectimage), :alt => "home" %>

                                </figure>

                                <div class="lower-content">
                                    <div class="row project-place-info">
                                        <div class="col-xs-12 col-sm-6 col-md-6">


                                            <% if @getUsersData.present? %> 
                                              <% @getUsersData.each do |alldata| %>   <!--Start foreach-->

                                                <% 
                                                first_name =  alldata['first_name'] 
                                                last_name  =  alldata['last_name']

                                                fullname = "#{first_name} #{last_name}"
                                              %>


                                                <h4>

                                                    <% if project_data_by_catid['created_by'] == alldata['id'] %> <!--Start-->

                                                      <% if fullname.length <= 13 %> <!--Start if lenght-->
                                                        By <a href="javascript:;"> <%= fullname %> </a>
                                                      <% else %>
                                                        By <a href="javascript:;"> <%= fullname[0..12] %> </a>

                                                        <a href="javascript:;">..</a>

                                                      <% end %> <!--End if lenght-->

                                                    <% end %> <!--End-->



                                                </h4>

                                              <% end %>   <!--End foreach-->
                                            <% end %>

                                        </div>


                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <h6><i class="fa fa-map-marker" aria-hidden="true"></i>


                                                <% if project_data_by_catid['project_location'].length <= 18 %> <!--Start if lenght-->

                                                  <%= project_data_by_catid['project_location'] %>

                                                <% else %>

                                                  <%= project_data_by_catid['project_location'][0..17] %>
                                                  <a href="javascript:;">..</a>

                                                <% end %> <!--End if lenght-->


                                            </h6>

                                        </div>

                                    </div>

                                    <div class="row project-name-txt">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <h4>
                                                <a href="/<%= project_data_by_catid['project_title'] %>/<%= project_data_by_catid['id'] %>/"> <%= project_data_by_catid['project_title'] %> </a>

                                            </h4>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                        </div>
                                    </div>

                                    <div class="row project-basic-details">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <ul>
                                                <li>
                                                    <figure><i class="icon-rich"></i></figure>
                                                    <h5>72%</h5>
                                                    <p>Funded</p>
                                                </li>
                                                <li>
                                                    <figure><i class="icon-piggy-bank"></i></figure>
                                                    <h5>$50,0000</h5>
                                                    <p>Pledged</p>
                                                </li>
                                                <li>
                                                    <figure><i class="icon-clock"></i></figure>
                                                    <h5>150 Hours</h5>
                                                    <p>Restant</p>
                                                </li>
                                            </ul>

                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                                    <span class="sr-only">70% Complete</span>
                                                </div>
                                            </div>

                                            <ul>
                                                <li>
                                                    <figure><i class="icon-supporters"></i></figure>
                                                    <h5>10</h5>
                                                    <p>Supporters</p>
                                                </li>
                                                <li>
                                                    <figure><i class="icon-checked"></i></figure>
                                                    <h5>50$</h5>
                                                    <p>Recolets</p>
                                                </li>
                                                <li>
                                                    <figure><i class="icon-heart"></i></figure>
                                                    <h5>700</h5>
                                                    <p>Likes</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                      <% end %>   <!-- End Foreach for @Get_Projects_By_Cat_id --> 
                    <% end %>


                </div>

            </section>




            <div class="digg_pagination">
                <div class="page_info">

                </div>
                <%= will_paginate @Get_Projects_By_Cat_id, :container => true %>
            </div>

            

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="search-right-search-box">

                <h3>Search</h3>

                <%#= form_for :search, :url => projects_search_path, :html => {:id => 'search_projects', :name => 'searchform'} do |f| %>

                  <%#= f.text_field :name, id: 'name', class: 'form-control form-control-radius white-place', placeholder: 'Search a project' %>


                    <%#= f.submit :SEARCH, :class => 'custom-submit-btn', :id => 'SearchProject', :type => 'button' %>

                  <%# end %>
                
                
                
                <form id="search_projects" method="get">
                  <input type="text" name="q" id="q" class="form-control form-control-radius white-place" placeholder="Search a project">
                  <input type="button" id="SearchProject" class="custom-submit-btn" value="SEARCH" >
                  
                </form>
                
                
              
              </div>

              <div class="tags">
                  <h3>Tags</h3>
                  <ul>
                      <% if @getCategoryData.present? %>   <!-- Start @getCategoryData -->
                        <% if @allprojects.present? %>   <!-- Start @allprojects -->

                          <% allprojects = @allprojects.count %>


                          <!-- Start foreach @getCategoryData -->
                          <% @getCategoryData.select("DISTINCT(category_name), id").each do |all_category| %>   

                            <li>

                                <!--<a href="javascript:;" id="tags_data" data-tagsID="<%#= all_category['id'] %>">-->


          <%= link_to all_category['category_name'], request.query_parameters.merge({:tags => all_category['id'] }) %>

          <%#= all_category['category_name'] %>                                    


                                <% @allprojects.each do |all_projects| %> <!--Start @allprojects each-->


                                  <% if all_projects['category_id'] == all_category['id'] %> <!--condition-->

                                    <% @getallprojects = Project.select('category_id').where(category_id: all_projects['category_id']).count %>

                                    <% if @getallprojects.present? %> <!--start-->

                                      (<%= @getallprojects %>) 

                                    <% else %>

                                      (0)

                                    <% end %> <!--end-->

                                    <% break %>


                                  <% end %> <!--Condition-->

                                <% end %> <!--End @allprojects each-->



                                <!--</a>-->


                            </li>



                          <% end %>   <!-- End foreach @getCategoryData -->

                        <% end %>   <!-- End @allprojects -->
                      <% end %>   <!-- End @getCategoryData -->

                  </ul>

                  <span><a href="" id="loadMore">View More <i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
              </div>
            
            <input type="hidden" id="tags_val" value="" >

              <div class="search-lang-outer">
                  <div class="search-lang-inside">
                      <h3>Language</h3>
                      <div class="form-group">

                          <div class="custom-search-input">

                              <select name="search_lang" id="search_lang" >

                                  <% if @languages.present? %> <!-- Start @languages -->  
                                    
                                    <option value="">Select Language</option>
                                    
                                    <% @languages.each do |lang| %>  <!-- Start foreach @languages -->

                                      <option value='<%= lang['id'] %>' data-title="<%= lang['language_name'] %>"
                                        
                                        <% if params[:lang].to_i == lang['id'] %> selected="selected" <% end %>>
                                        
                                          <%= lang['language_name'] %>
                                      
                                      </option>
                                     
                                    <% end %>   <!-- Start foreach @languages -->

                                  <% end %> <!-- End @languages -->

                              </select>
                          </div>

                      </div>
                  </div>

                  <div class="search-lang-inside">


                      <h3>Type of Project</h3>
                      <div class="form-group">
                          <div class="custom-search-input">

                              <select name="search_filter" id="search_filter" >

                                  <% if @projecttype.present? %>  <!-- Start @projecttype -->   
                                  
                                  <option value="">Select Project Type</option> 
                                  
                                    <% @projecttype.each do |project| %>  <!-- Start foreach @projecttype -->

                                      <option value='<%= project %>' data-title="<%= project %>"
                                              
                                        <% if params[:project_type] == project %>   selected="selected" <% end %>>
                                        
                                          <%= project %>
                                      
                                      </option>

                                    <% end %>   <!-- Start foreach @projecttype -->

                                  <% end %> <!-- Start @projecttype -->

                              </select>
                          </div>

                      </div>
                  </div>

                  <div class="search-lang-inside">
                      <h3>Countries</h3>
                      <div class="form-group">

                          <div class="custom-search-input">

                              <select name="search_countr" id="search_countr" >

                                  <% if @allcountries.present? %> <!-- Start @allcountries -->   

                                    <option value="">Select Country</option> 
                                    
                                      <% @allcountries.each do |country| %>  <!-- Start foreach @allcountries -->
                                    
                                      <option value='<%= country['id'] %>' data-title="<%= country['country_name'] %>"
                                              
                                        <% if params[:country].to_i == country['id'] %>   selected="selected" <% end %>>
                                        
                                          <%= country['country_name'] %>
                                      
                                      </option>

                                    <% end %>   <!-- Start foreach @allcountries -->

                                  <% end %> <!-- Start @allcountries -->

                              </select>
                          </div>


                      </div>
                  </div>

              </div>

          </div>
      </div>
  </div>


  </div>

  
  <!-- Start Script for View More Categories -->
  
  <script>

    $(function () {
        $(".tags li").slice(0, 10).show();
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $(".tags li:hidden").slice(0, 10).slideDown();
            if ($(".tags li:hidden").length == 0) {
                $("#loadMore").fadeOut('slow');
            }
            $('html,body').animate({
                scrollTop: $(this).offset().top
            }, 1500);
        });
    });

    $('a[href=#top]').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 600);
        return false;
    });

    $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('.totop a').fadeIn();
        } else {
            $('.totop a').fadeOut();
        }
    });
    
    /*Script for hiding prev & next text of pagination*/

    
  </script>


  <!--End Script for View More Categories-->
  
  
  <script>
    $(".previous_page").text(' ');
    $(".next_page").text(' ');
  </script>

  
  
  
  
  




  <script type="text/javascript">

    /***
     * 
     * Code for Filters
     */
    
    var URLData = "?";
    
    
    /*--Start Filter for Language --*/    
    $("body").on("change", "#search_lang", function () {
        var me = $(this);
        var value = me.val();
        URLData += 'lang=' + value;
        var project_type = $("#search_filter").val();
        if (project_type) {
            URLData += '&project_type=' + project_type;
        }
        var countryVal = $("#search_countr").val();
        if (countryVal) {
            URLData += '&country=' + countryVal;
        }
               
        
        var search_project = $("#search_project").val();
        if (search_project) {
          
          if(search_project == 'all'){
            URLData += '&filter=' + search_project;
          }
        
          if(search_project == 'funded'){
            URLData += '&filter=' + search_project;
          }
        
          if(search_project == 'ended'){
            URLData += '&filter=' + search_project;
          }
        
        }
        
        var search_shortby = $("#search_shortby").val();
        if (search_shortby) {
          
          if(search_shortby == 'popular'){
            URLData += '&sortby=' + search_shortby;
          }

          if(search_shortby == 'amount'){
            URLData += '&sortby=' + search_shortby;
          }

          if(search_shortby == 'date'){
            URLData += '&sortby=' + search_shortby;
          }
          
          if(search_shortby == 'ending'){
            URLData += '&sortby=' + search_shortby;
          }
            
        }
        
        
        /*var tags_val = $("#tags_val").val();
        if (tags_val) {
            URLData += '&tags=' + tags_val;
        }*/
        
        window.location.replace(URLData);
    });
    /*--End Filter for Language --*/
    
    
    /*--Start Filter for Project_Type --*/
    $("body").on("change", "#search_filter", function () {
        var me = $(this);
        var value = me.val();
        
        var pathname = window.location.pathname;
        
        if (pathname == '/search/Donations/' || pathname == '/search/Presale/' || pathname == '/search/Business/' || pathname == '/search/Solidarity/' || pathname == '/search/Equity/')
        {
          pathname = '/search/'+value+'/';
          URLData = pathname;
        }
        else{
          
            var search_lang = $("#search_lang").val();
            if (search_lang) {
                URLData += '&lang=' + search_lang;
            }
            var countryVal = $("#search_countr").val();
            if (countryVal) {
                URLData += '&country=' + countryVal;
            }




            var search_project = $("#search_project").val();
            if (search_project) {

              if(search_project == 'all'){
                URLData += '&filter=' + search_project;
              }

              if(search_project == 'funded'){
                URLData += '&filter=' + search_project;
              }

              if(search_project == 'ended'){
                URLData += '&filter=' + search_project;
              }

            }

            var search_shortby = $("#search_shortby").val();
            if (search_shortby) {

              if(search_shortby == 'popular'){
                URLData += '&sortby=' + search_shortby;
              }

              if(search_shortby == 'amount'){
                URLData += '&sortby=' + search_shortby;
              }

              if(search_shortby == 'date'){
                URLData += '&sortby=' + search_shortby;
              }

              if(search_shortby == 'ending'){
                URLData += '&sortby=' + search_shortby;
              }

            }
          
        }
        
        window.location.replace(URLData);
        
        
    });
    /*--End Filter for Project_type--*/
    
    
    /*--Start Filter for Country --*/
    $("body").on("change", "#search_countr", function () {
        var me = $(this);
        var value = me.val();
        URLData += 'country=' + value;
        
        var search_lang = $("#search_lang").val();
        if (search_lang) {
            URLData += '&lang=' + search_lang;
        }
        var countryVal = $("#search_filter").val();
        if (countryVal) {
            URLData += '&project_type=' + countryVal;
        }
        
        
        
        var search_project = $("#search_project").val();
        if (search_project) {
          
          if(search_project == 'all'){
            URLData += '&filter=' + search_project;
          }
        
          if(search_project == 'funded'){
            URLData += '&filter=' + search_project;
          }
        
          if(search_project == 'ended'){
            URLData += '&filter=' + search_project;
          }
        
        }
        
        var search_shortby = $("#search_shortby").val();
        if (search_shortby) {
          
          if(search_shortby == 'popular'){
            URLData += '&sortby=' + search_shortby;
          }

          if(search_shortby == 'amount'){
            URLData += '&sortby=' + search_shortby;
          }

          if(search_shortby == 'date'){
            URLData += '&sortby=' + search_shortby;
          }
          
          if(search_shortby == 'ending'){
            URLData += '&sortby=' + search_shortby;
          }
            
            
            
        }
        
        window.location.replace(URLData);
    });
    /*--End Filter for Language --*/
    
    
    /*--Start Filter for Sort Project Main --*/
    $("body").on("change", "#search_project", function () {
        var me = $(this);
        var value = me.val();
        
        if(value == 'all'){
          URLData += 'filter=' + value;
        }
        
        if(value == 'funded'){
          URLData += 'filter=' + value;
        }
        
        if(value == 'ended'){
          URLData += 'filter=' + value;
        }
        
        var search_shortby = $("#search_shortby").val();
        if (search_shortby) {
          
          if(search_shortby == 'popular'){
            URLData += '&sortby=' + search_shortby;
          }

          if(search_shortby == 'amount'){
            URLData += '&sortby=' + search_shortby;
          }

          if(search_shortby == 'date'){
            URLData += '&sortby=' + search_shortby;
          }
          
          if(search_shortby == 'ending'){
            URLData += '&sortby=' + search_shortby;
          }
           
        }
        
        
        var search_lang = $("#search_lang").val();
        if (search_lang) {
            URLData += '&lang=' + search_lang;
        }
        var countryVal = $("#search_filter").val();
        if (countryVal) {
            URLData += '&project_type=' + countryVal;
        }
        
        var countryVal = $("#search_countr").val();
        if (countryVal) {
            URLData += '&country=' + countryVal;
        }
        
        
        
        window.location.replace(URLData);
    });
    /*--End Filter for Sort Project Main --*/
    
    
    
    /*--Start Search for Search-box Main --*/
    $("body").on("click", "#SearchProject", function () {
        
        var value = $("#q").val();
        
        
        var pathname = window.location.pathname;
                
          
        
        if(value !== ''){
          
          pathname = '/search?q='+value;
          URLData = pathname;
        }
        else{
          value = 'all'
          pathname = '/search?q='+value;
          URLData = pathname;
        }
          
          
        <%#*var search_lang = $("#search_lang").val();%>
        <%#*if (search_lang) {%>
            <%#*URLData += '&lang=' + search_lang;%>
        <%#*}%>        
        <%#*var project_type = $("#search_filter").val();%>
        <%#*if (project_type) {%>
            <%#*URLData += '&project_type=' + project_type;%>
        <%#*}%>
        <%#*var countryVal = $("#search_countr").val();%>
        <%#*if (countryVal) {%>
            <%#*URLData += '&country=' + countryVal;%>
        <%#*}%>
        
        
        
        <%#*var search_project = $("#search_project").val();%>
        <%#*if (search_project) {%>
          
          <%#*if(search_project == 'all'){%>
            <%#*URLData += '&filter=' + search_project;%>
          <%#*}%>
        
          <%#*if(search_project == 'funded'){%>
            <%#*URLData += '&filter=' + search_project;%>
          <%#*}%>
        
          <%#*if(search_project == 'ended'){%>
            <%#*URLData += '&filter=' + search_project;%>
          <%#*}%>
        
        <%#*}%>
        
        <%#*var search_shortby = $("#search_shortby").val();%>
        <%#*if (search_shortby) {%>
          
          <%#*if(search_shortby == 'popular'){%>
            <%#*URLData += '&sortby=' + search_shortby;%>
          <%#*}%>

          <%#*if(search_shortby == 'amount'){%>
            <%#*URLData += '&sortby=' + search_shortby;%>
          <%#*}%>

          <%#*if(search_shortby == 'date'){%>
            <%#*URLData += '&sortby=' + search_shortby;%>
          <%#*}%>
          
          <%#*if(search_shortby == 'ending'){%>
            <%#*URLData += '&sortby=' + search_shortby;%>
          <%#*}%>
            
        <%#*}%>
          
        window.location.replace(URLData);
        
      });
      /*--End Search for Search-box Main --*/
    
    
    /*--Start Filter for Sortby Main --*/
    $("body").on("change", "#search_shortby", function () {
        var me = $(this);
        var value = me.val();
        
        if(value == 'popular'){
          URLData += 'sortby=' + value;
        }

        if(value == 'amount'){
          URLData += 'sortby=' + value;
        }

        if(value == 'date'){
          URLData += 'sortby=' + value;
        }

        if(value == 'ending'){
          URLData += 'sortby=' + value;
        }
        
        
        var search_project = $("#search_project").val();
        if (search_project) {
          
          if(search_project == 'all'){
            URLData += '&filter=' + search_project;
          }
        
          if(search_project == 'funded'){
            URLData += '&filter=' + search_project;
          }
        
          if(search_project == 'ended'){
            URLData += '&filter=' + search_project;
          }
        
        }
        
        
        var search_lang = $("#search_lang").val();
        if (search_lang) {
            URLData += '&lang=' + search_lang;
        }
        var countryVal = $("#search_filter").val();
        if (countryVal) {
            URLData += '&project_type=' + countryVal;
        }
        
        var countryVal = $("#search_countr").val();
        if (countryVal) {
            URLData += '&country=' + countryVal;
        }
        
        
        
        window.location.replace(URLData);
    });
    /*--End Filter for Sort Project Main --*/
    
    
    
    
    /*--Start Filter for Tags Main --*/
  /*  $("body").on("click", "#tags_data", function () {
        var me = $(this);
        var value = me.attr('data-tagsID');
        
        var pathname = window.location.pathname;
        alert(pathname);
        //alert(value);
        
        return false;
        
        //$("#tags_val").val(value);
        
        URLData += 'tags=' + value;
        
        
        
        
        var search_lang = $("#search_lang").val();
        if (search_lang) {
            URLData += '&lang=' + search_lang;
        }        
        var project_type = $("#search_filter").val();
        if (project_type) {
            URLData += '&project_type=' + project_type;
        }
        var countryVal = $("#search_countr").val();
        if (countryVal) {
            URLData += '&country=' + countryVal;
        }
        
        
        
        var search_project = $("#search_project").val();
        if (search_project) {
          
          if(search_project == 'all'){
            URLData += '&filter=' + search_project;
          }
        
          if(search_project == 'funded'){
            URLData += '&filter=' + search_project;
          }
        
          if(search_project == 'ended'){
            URLData += '&filter=' + search_project;
          }
        
        }
        
        var search_shortby = $("#search_shortby").val();
        if (search_shortby) {
          
          if(search_shortby == 'popular'){
            URLData += '&sortby=' + search_shortby;
          }

          if(search_shortby == 'amount'){
            URLData += '&sortby=' + search_shortby;
          }

          if(search_shortby == 'date'){
            URLData += '&sortby=' + search_shortby;
          }
          
          if(search_shortby == 'ending'){
            URLData += '&sortby=' + search_shortby;
          }
            
        }
        
        
        window.location.replace(URLData);
    
    });
    */
    



  </script>

