<aside class="dalando_sidebar_panel">
<div class="brand">
<a href="/backend/dashboard" class="logo"><div class="large_logo"> <%= image_tag ('logo.svg'), :alt => '' %></div>
<div class="small_logo"><%= image_tag ('small_logo.png'), :alt => '' %></div>
</a>
<div class="menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
</div>
<nav class="dalando_sidebar_nav">
<ul class="dalando_nav">
<li><a href="/backend/dashboard" class="active"><i><%= image_tag ('a.png'), :alt => '' %></i><span>Dashboard</span></a></li>
<li><a href="/backend/user-management"><i><%= image_tag ('b.png'), :alt => '' %></i><span>User Management</span></a></li>
<li><a href="/backend/category-management" ><i><%= image_tag ('c.png'), :alt => '' %></i><span>Category Management</span></a></li>
<li><a href="/backend/badges-management"><i><%= image_tag ('d.png'), :alt => '' %></i><span>Badges Management</span></a></li>
<li><a href="currency_management.html"><i><%= image_tag ('e.png'), :alt => '' %></i><span>Currency Management</span></a></li>
<li><a href="/backend/project-management"><i><%= image_tag ('f.png'), :alt => '' %></i><span>Project Management</span></a></li>
<li><a href="/backend/payment-method"><i><%= image_tag ('g.png'), :alt => '' %></i><span>Payment Method</span></a></li>
<li><a href="/backend/global-site-setting"><i><%= image_tag ('global_site_setting.png'), :alt => '' %></i><span>Global Site Setting</span></a></li>
<li><a href="commission_management.html"><i><%= image_tag ('commission_management.png'), :alt => '' %></i><span>Commission Management</span></a></li>
<li><a href="/backend/content-management"><i><%= image_tag ('content_management.png'), :alt => '' %></i><span>Content Management</span></a></li>
<li><a href="/backend/email-template"><i><%= image_tag ('email_template.png'), :alt => '' %></i><span>Email Template</span></a></li>
<li><a href="/backend/transactions-management"><i><%= image_tag ('Tranasaction_management.png'), :alt => '', :width => '20', :height => '20' %></i><span>Transactions Management</span></a></li>
<li><a href="/backend/review-management"><i><%= image_tag ('review_management.png'), :alt => '' %></i><span>Review Management</span></a></li>
<li><a href="/backend/account-management"><i><%= image_tag ('Account_management.png'), :alt => '' %></i><span>Account Management</span></a></li>
<li><a href="/backend/reports-management"><i><%= image_tag ('report_icon.png'), :alt => '' %></i><span>Reports Management</span></a></li>


</ul>

</nav>
</aside>