<div class="right-content-area">
       <div class="inner-pages-main">  
            	
            <div class="inner-padding-all">
            	<div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                    	<div class="inside-gray-bx">
                        	<div class="view-user-top-img text-center">
                            	<%= image_tag ('accout-management-profile.jpg'), :alt => "" %>
                            </div>
                        	<div class="heading-two">
                            	<h2>Robert Due</h2>
                            </div>
                            	
                                <div class="project-tabs-outer view-user-content-tabs">
                                	
                                    	<div id="parentHorizontalTab">
            <ul class="resp-tabs-list hor_1">
                <li>Personal Info</li>
                <li>Bank Account Details</li>
                <li>Change Password</li>
                <li>Recent Activities</li>
            </ul>
            <div class="resp-tabs-container hor_1">
                <div class="tabs-inside account-tabs-outer">
                	<div class="account-tabs-inside first-tab-inside">
                    	
                        <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Name:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input value="John Due" class="form-control" type="text" /></div>
                            </div>
                            </div>
                        
                        <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Email:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input value="example@yahoo.in" class="form-control" type="email" /></div>
                            </div>
                            </div>
                            
                            <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Country:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input value="USA" class="form-control" type="text" /></div>
                            </div>
                            </div>
                            
                            <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>City:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input value="New York" class="form-control" type="text" /></div>
                            </div>
                            </div>
                            
                             <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Address:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input value="526 Glendale Ave. Port Huron, MI 48060" class="form-control" type="text" /></div>
                            </div>
                            </div>
                            
                            <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Currency:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6">
                                	 <div class="project-select-main">
									<select class="selectpicker">
									<option>$</option>
									<option>INR</option>
									</select>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                            <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Contact No:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input value="+1-202-555-0119" class="form-control" type="text" /></div>
                            </div>
                            </div>
                            
                            <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Fax:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input value="202-555-0115" class="form-control" type="text" /></div>
                            </div>
                            </div>
                            
                            <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Profile Picture:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><div class="upload-img-div">
                                    <span><i><%= image_tag ('upload-img.png'), :alt => "" %></i>Upload image</span>
                                    <input type="file" class="">
                                    </div></div>
                            </div>
                            </div>
                            
                            <div class="row">
                            	
                                <div class="col-xs-12 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-3"><input type="submit" name="Update" value="Update" class="login-btn btn-margin-top"></div>
                            </div>
                            
                        
                    </div>
                  	
                  
                  
                </div>
                
                <div class="tabs-inside account-tabs-outer">
                	<div class="account-tabs-inside second-tab-inside">
                    	
                        <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Bank Name:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input value="Stimulized Banking Corp" class="form-control" type="text" /></div>
                            </div>
                            </div>
                            
                            <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Bank Branch:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6">
                                	 <div class="project-select-main">
									<select class="selectpicker">
									<option>example branch</option>
									<option>HDFC</option>
									</select>
                                    </div>
                                </div>
                            </div>
                            </div>
                        
                        
                            
                            <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Account No:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input value="xxxx xxxx xxxx 0123" class="form-control" type="text" /></div>
                            </div>
                            </div>
                            
                            
                            
                             
                            
                            <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Account Type:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6">
                                	 <div class="project-select-main">
									<select class="selectpicker">
									<option>Lorem ipsum</option>
									<option>Saving</option>
									</select>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                            
                            
                            
                            
                            
                            
                            <div class="row">
                            	
                                <div class="col-xs-12 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-3"><input type="submit" name="Update" value="Update" class="login-btn btn-margin-top"></div>
                            </div>
                            
                        
                    </div>
                  	
                  
                  
                </div>
                
                <div class="tabs-inside account-tabs-outer">
                	<div class="account-tabs-inside third-tab-inside">
                    	
                        <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Recent Password:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input class="form-control" type="password" placeholder="Recent Password" /></div>
                            </div>
                            </div>
                            
                             <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>New Password:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input class="form-control" type="password" placeholder="New Password" /></div>
                            </div>
                            </div>
                            
                            <div class="form-group">
                            <div class="row">
                            	<div class="col-xs-12 col-sm-3 col-md-3"><label>Confirm Password:</label></div>
                                <div class="col-xs-12 col-sm-9 col-md-6"><input class="form-control" type="password" placeholder="Confirm Password" /></div>
                            </div>
                            </div>
                            
                            
                            
                            
                            
                            
                            
                            <div class="row">
                            	
                                <div class="col-xs-12 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-3"><input type="submit" name="Update" value="Update" class="login-btn btn-margin-top"></div>
                            </div>
                            
                        
                    </div>
                  	
                  
                  
                </div>
                
                <div class="tabs-inside account-tabs-outer">
                	<div class="account-tabs-inside forth-tab-inside">
                    	
                        <div class="row">
                        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                      		  <div class="recent-act-inner">
                        	<div class="recent-act-left">
                            	<%= image_tag ('accout-management-profile.jpg'), :alt => "" %>
                            </div>
                            <div class="recent-act-right">
                            	<p>Lorem ipsum dolor sit amet, <a href=""> consectetur adipiscing elit </a>. Curabitur sit amet nisl vel augue ullamcorper ultrices.</p>
                            </div>
                        </div>
                        		<div class="recent-act-inner">
                        	<div class="recent-act-left">
                            	<%= image_tag ('accout-management-profile.jpg'), :alt => "" %>
                            </div>
                            <div class="recent-act-right">
                            	<p>Lorem ipsum dolor sit amet, <a href=""> consectetur adipiscing elit </a>. Curabitur sit amet nisl vel augue ullamcorper ultrices.</p>
                            </div>
                        </div>
                        
                        <div class="recent-act-inner">
                        	<div class="recent-act-left">
                            	<%= image_tag ('accout-management-profile.jpg'), :alt => "" %>
                            </div>
                            <div class="recent-act-right">
                            	<p>Lorem ipsum dolor sit amet, <a href=""> consectetur adipiscing elit </a>. Curabitur sit amet nisl vel augue ullamcorper ultrices.</p>
                            </div>
                        </div>
                        </div>
                        </div>
                        
                            
                            
                        
                    </div>
                  	
                  
                  
                </div> 
                
            </div>
        </div>
                                    
                                </div>
                            
                          
                        </div>
                    </div>
                </div>
            </div>  
       		
       </div>
        
       
    </div>


<script type="text/javascript">
    
     $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });

</script>


<script type="text/javascript">
    $(document).ready(function() {
        $(function () {
             $("#datetimepicker1").datepicker();
              $("#datetimepicker2").datepicker();
               });


        $('#datetimepicker1').on('changeDate', function(ev){
            $(this).datepicker('hide');
        });

    });
            
</script>