
<div class="right-content-area">
       <div class="inner-pages-main">
       		<div class="inner-padding-all">
            	<div class="row">
                	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
                    	<div class="inside-gray-bx">
                        	<div class="heading-two">
                            	<h2>Global Site Setting</h2>
                            </div>
                            <div class="form-group">
                            <div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3"><label>Project image:</label></div>
									<div class="col-xs-12 col-sm-9 col-md-9">
									
									<div class="change-image-sec common-imagewrap-sec border-grey">
										<div class="web_site-logo-wrap">
                                            <%= image_tag ('website_logo.png'), :alt => 'WebSite Logo' %>
										</div>
										<div class="choose-img-wrapper ">
										
										<div class="upload-img-div">
										<span><i class="fa fa-camera" aria-hidden="true"></i>Change Web Site Logo</span>
										<input class="" type="file" />
										</div>
										
										</div>
										
									</div>
									
									</div>
								</div>
                            </div>
							
							 <div class="form-group">
                            <div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3"><label>Site Name:</label></div>
									<div class="col-xs-12 col-sm-9 col-md-9">
										<div class="datepicker-wrap">
										<input class="form-control" type="text"> 
										<i class="duration-selecter">
                                        <%= image_tag ('edit_pencil.png'), :alt => 'Calender' %>
										</i>
										</div>
									</div>
								</div>
                            </div>
							
							 <div class="form-group">
                            <div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3"><label>Default Language:</label></div>
									<div class="col-xs-12 col-sm-9 col-md-9">
										<div class="project-select-main">
                                        <select class="selectpicker">
									<option selected>English</option>
									<option>English(US)</option>
									<option>French</option>
									</select>
                                    </div>
									</div>
								</div>
                            </div>
							
							<div class="form-group">
                            <div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3"><label>Default Currency:</label></div>
									<div class="col-xs-12 col-sm-9 col-md-9">
										<div class="project-select-main">
                                        <select class="selectpicker">
									<option selected>USD</option>
									<option>Canadian Dollar</option>
									<option>Euro</option>
									</select>
                                    </div>
									</div>
								</div>
                            </div>
                            
							 <div class="form-group">
                            <div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3"><label>SEO Keywords:</label></div>
									<div class="col-xs-12 col-sm-9 col-md-9">
										<div class="datepicker-wrap">
										<input class="form-control" type="text"> 
										<i class="duration-selecter">
										 <%= image_tag ('edit_pencil.png'), :alt => 'Calender' %>
										</i>
										</div>
									</div>
								</div>
                            </div>
							
							 <div class="form-group">
                            <div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3"><label>Slider Setting:</label></div>
									<div class="col-xs-12 col-sm-9 col-md-9">
										<div class="common-imagewrap-sec slider-img-change-wrap">
											<div class="choose-img-wrapper">
												<div class="upload-img-div">
												<span><i class="fa fa-camera" aria-hidden="true"></i>Choose Website slider images</span>
												<input class="" type="file" />
												</div>
											</div>
											
											<div class="slider-img-wrap">
											<ul>
											<li><a href="javascript:;"><i class="fa fa-times" aria-hidden="true"></i><%= image_tag ('slider-change-1.jpg'), :alt => '' %></a></li>
                                            <li><a href="javascript:;"><i class="fa fa-times" aria-hidden="true"></i><%= image_tag ('slider-change-1.jpg'), :alt => '' %></a></li>
                                            <li><a href="javascript:;"><i class="fa fa-times" aria-hidden="true"></i><%= image_tag ('slider-change-1.jpg'), :alt => '' %></a></li>
                                            <li><a href="javascript:;"><i class="fa fa-times" aria-hidden="true"></i><%= image_tag ('slider-change-1.jpg'), :alt => '' %></a></li>
											</ul>
											</div>
											
										</div>
									</div>
								</div>
                            </div>
							
                            <div class="row">
                              <div class="col-xs-12 col-sm-8 col-sm-offset-3">
							  <input class="login-btn btn-margin-top" type="submit" value="Submit" name="Submit" /></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
       </div>
        
       
        
    </div>
