<div class="col-xs-12 top-img-sec">
	<div class="img-cont">
		<a href="javscript:;"><%= image_tag('img_icon.jpg', :alt => 'User Logged Image') %></a>
	</div>
	<div class="rgt-cont">
		<h2> <%= @Get_Project_By_Project_id[0]['project_title'] %> </h2>
		<ul>
                    
<!--Follow Unfollow Working Starts Here -->                    
<% if  @particular_projectFollow_stat.present? %>
                    
<li class="follow" onclick="choosenotification('<%= @Get_Project_By_Project_id[0]['id']  %>','<%= session[:current_user_id] %>','<%= @Get_Project_By_Project_id[0]['project_title'] %>');">
 <a href="javascript:;"><i class="fa fa-heart"></i> Unfollow This project</a>
</li>
<input name="hidden_check" id="hidden_check" value="unfollow_1" type="hidden">
<% else %>
<li class="follow" onclick="choosenotification('<%= @Get_Project_By_Project_id[0]['id']  %>','<%= session[:current_user_id] %>','<%= @Get_Project_By_Project_id[0]['project_title'] %>');">
 <a href="javascript:;"><i class="fa fa-heart"></i> Follow This project</a>
</li>
<input name="hidden_check" id="hidden_check" value="follow_1" type="hidden">

<% end %>
<!--Follow Unfollow Working Ends Here -->

<!--Supporters Working Start From Here -->
<% if @particular_projectSupporter_stat.present? %>
<li class="support" onclick="support_unsupport('<%= @Get_Project_By_Project_id[0]['id']  %>','<%= session[:current_user_id] %>');">
 <a href="javascript:;"><i class="fa fa-users"></i> Unsupport This project</a>
</li>
<% else %>
<li class="support" onclick="support_unsupport('<%= @Get_Project_By_Project_id[0]['id']  %>','<%= session[:current_user_id] %>');">
 <a href="javascript:;"><i class="fa fa-users"></i> Support This project</a>
<% end %>
<!--Supporters Working Ends From Here -->

            <% if @getCategoryData.present? %>
            <% @getCategoryData.each do |allcategorydata| %>
            <% if allcategorydata.id == @Get_Project_By_Project_id[0]['category_id'] %>
<li><a href="javascript:;"><i class="fa fa-tags"></i> <%= allcategorydata.category_name %></a></li>
            <% end %>
            <% end %>
            <% end %>
            
			<li><a href="javascript:;"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @Get_Project_By_Project_id[0]['project_location'] %> </a></li>
      <li class="add-btn"><a href="/<%= @Get_Project_By_Project_id[0]['project_title'].gsub(/\s+/, "") %>/add-news/<%= @Get_Project_By_Project_id[0]['id'] %>"><i class="fa fa-plus" aria-hidden="true"></i> Add News</a> </li>
      <li class="add-btn"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add Event </a> </li>

		</ul>
	</div>
</div>

<div class="col-xs-12">
<div class="bott-list-sec">
<div class="row">
<div class="col-sm-8 col-xs-12">
	<ul class="cmnt-list-nav" id="submenuid">
        
     <li><a href="/<%= @Get_Project_By_Project_id[0]['project_title'].gsub(/\s+/, "") %>/<%= @Get_Project_By_Project_id[0]['id'] %>" class="menu">Project Home</a></li>
        
     <li><a class="menu" href="/<%= @Get_Project_By_Project_id[0]['project_title'].gsub(/\s+/, "") %>/news/<%= @Get_Project_By_Project_id[0]['id'] %>">News</a></li>
        
     <li><a class="menu" href="/<%= @Get_Project_By_Project_id[0]['project_title'].gsub(/\s+/, "") %>/comments/<%= @Get_Project_By_Project_id[0]['id'] %>">Comments</a></li>
        
     <li><a class="menu" href="/<%= @Get_Project_By_Project_id[0]['project_title'].gsub(/\s+/, "") %>/dalenders/<%= @Get_Project_By_Project_id[0]['id'] %>">Dalenders</a></li>
     <li><a class="menu" href="events">Events</a></li>
	</ul>
	</div>
	<div class="col-sm-4 col-xs-12 user-cmt-img">
        
	<a href="javascript:;">
        
        
        
        <% if @getUsersData.present? %> 
            <% @getUsersData.each do |alldata| %>   <!--Start foreach-->

                <% 
                    first_name =  alldata['first_name'] 
                    last_name  =  alldata['last_name']

                    fullname = "#{first_name} #{last_name}"
                %>

         
        
        <% if @Get_Project_By_Project_id[0]['created_by'] == alldata['id'] %> <!--Start-->
        
        
        
            <% userImage = alldata['user_image'].to_s %>

             <!-- Code for Image Checking  -->

            <% if userImage.present? %>    
                <% if File.exist?(Rails.root.join('app/assets/images', 'userImages', userImage )) %>
                    <% user_pic = userImage  %>
                <% else %>
                    <% user_pic = 'default' + '.jpg'  %>
                <% end %>
            <% else %>
                <% user_pic = 'default' + '.jpg'  %>
            <% end %>

             <!-- Code for Image Checking  -->
        
        <div class="project_created_img">
        <%= image_tag File.join('userImages', user_pic), :alt => 'User Logged Image', :height => '34' %>
        
        <% end %> <!--End-->
        
	<span>
        
        <% if @Get_Project_By_Project_id[0]['created_by'] == alldata['id'] %> <!--Start-->

             By <a href="javascript:;"> <%= fullname %> </a>

        <% end %> <!--End-->
      
        
        </span>
        
        <% end %>   <!--End foreach-->
    <% end %>
        </div>
    </a>
	</div>
</div>
</div>
</div>


<script>
  
 /*-------Used For Showing Popup Project Status Checked While Changing Status--------*/    
$(document).ready(function()
{
$('.complex').on('click',function()
{
  var status = $(this).attr('data-projectstatus');
  
  if(status == 1)
  {
     setTimeout(function(){  $('#a').prop('checked',true); }, 100);     
  }
  
  if(status == 2)
  {
     setTimeout(function(){  $('#d').prop('checked',true); }, 100);            
  }  
    
  if(status == 3)
  {
     setTimeout(function(){  $('#in').prop('checked',true); }, 100);            
  }
});
    

});

/*---------------Used For Showing Status Update Of :Project With Swal New Form--------------*/


/*---------------Used For Showing Status Update Of :Project With Swal New Form--------------*/

 function choosenotification (projectid,userid,protitle) {
     var hidden_check = $('#hidden_check').val();
     if(hidden_check === 'follow_1'){
     swal.withForm({
    title: 'Notification Alert',
    text: 'Do you want to recieve notification for '+protitle,
    showCancelButton: true,
    animation: "slide-from-top",     
    confirmButtonColor: '#315481',
    confirmButtonText: 'Follow project '+protitle,
    closeOnConfirm: true,
    formFields: [

      { name: 'projectstatus', value: 'Yes', type: 'radio', id:"a" },
      { name: 'projectstatus', value: 'No', type: 'radio', id:"d" },
    ]
      
  }, function (isConfirm) {      
   

        var status = this.swalForm;
         
        if(status.a == 'Yes')
        {
              var notificationstatus = '1'
        }
        else
        {
              var notificationstatus = '0'
        }
         
         
        if(notificationstatus != "")
            {
                $.ajax({

                         url:"/projects/follow-project",
                         type:"Post",
                         data: {
                                 projectid:projectid,
                                 userid:userid,
                                 notificationstatus:notificationstatus
                               },
                         success: function(resp)
                         {
                           if(resp == 1)
                           {
                             $( ".follow a" ).html("<i class='fa fa-heart'></i> Unfollow This project");
                             $('#hidden_check').val('unfollow_1');
                           }
                         }
                });
            }
     
  });
     }else
     {
                         $.ajax({

                         url:"/projects/follow-project",
                         type:"Post",
                         data: {
                                 projectid:projectid,
                                 userid:userid,
                               },
                         success: function(resp)
                         {
                           if(resp == 2)
                           {
                             $( ".follow a" ).html("<i class='fa fa-heart'></i> Follow This project");
                             $('#hidden_check').val('follow_1');
                           }
                         }
                });
     }
}  
  
  
/*Funcionality of support and unsupport the project*/

function support_unsupport(projectid,userid)
{
    $.ajax({

    url:"/projects/support-unsupport-project",
    type:"Post",
    data: {
           projectid:projectid,
           userid:userid,
         },
    success: function(resp)
    {
     if(resp == 1)
     {
       $( ".support a" ).html("<i class='fa fa-users'></i> Unsupport This project");    
     }
     if(resp == 2)
     {
       $( ".support a" ).html("<i class='fa fa-users'></i> Support This project");
     }
    }
    }); 
}
  
</script>


